<h1>Subscribe to Cham Geeks</h1>

<p>Thanks for registering as <%= @member.email %></p>

<p>By paying a 10€ membership fee, you will become a full member of Cham Geeks with extra benefits and help to support Cham Geeks.</p>
